default: &default
  adapter: postgresql
  encoding: unicode
  username: postgres
  password: 1437
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: labsimplify_development

test:
  <<: *default
  database: labsimplify_test

production:
  url: <%= ENV['DATABASE_URL'] %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  adapter: postgresql
